#Comment out CONFIG_VOLATILE with # 
# if you want the shared variable NOT to be
#  declared volatile.  When it is not volatile,
#  race errors might not appear when optimized
# compilation is used for the racing() function.

#CONFIG_VOLATILE=volatile

#Specify how much optimization you want the compiler to do
# edit here either =-O3  or comment out the line
# where 
CONFIG_OPT=-O3

